button small {
  font-size: 12px;
  color: gray;
}

.active-date {
  background-color: #d4f0dd;
  border-color: #4caf50;
}

body {
  font-family: "Poppins", sans-serif;
}

.active-date {
  border: 2px solid #27ae60 !important;
  color: #27ae60;
  font-weight: 500;
}


.cc {
  border: 2px solid #27ae60 !important;
  color: #27ae60;
  font-weight: 500;
}


button {
  padding: 10px 20px;
  border-radius: 12px !important;
}
